{% extends 'base.html' %}
{% load static %}
{% block title %}کلاس ها{% endblock %}
{% block content %}
    {% url 'Classes:classes_index' as ClassesURL %}
    {% url 'Classes:group_classes' as GroupClassesURL %}
    {% url 'Classes:private_classes' as PrivateClassesURL %}
    {% url 'Classes:private_classes' as PrivateClassesURL %}
    <!--Banner Start-->
    <section class="main-inner-banner jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
             style="background-image: url('{% static 'images/classes-in-banner.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-in-title">
                        <h1 class="h1-title">کلاس های ما</h1>
                    </div>
                    <div class="banner-breadcum">
                        <ul>
                            <li><a href="{% url 'Home:home_view' %}">صفحه اصلی</a></li>
                            <li><i class="fa fa-chevron-left"></i></li>
                            <li><a href="{% url 'Classes:classes_index' %}">کلاس ها</a></li>
                            {% if request.path == GroupClassesURL %}
                                <li><i class="fa fa-chevron-left"></i></li>
                                <li><a href="{{ GroupClassesURL }}">کلاس های گروهی</a></li>
                            {% endif %}
                            {% if request.path == PrivateClassesURL %}
                                <li><i class="fa fa-chevron-left"></i></li>
                                <li><a href="{{ PrivateClassesURL }}">کلاس های خصوصی</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h5 class="text-light">فیلتر نتایج: </h5>
                    <a href="{{ ClassesURL }}"
                       class="btn {% if request.path == ClassesURL %} btn-warning{% else %} btn-outline-warning{% endif %} text-light">همه</a>
                    <a href="{{ GroupClassesURL }}"
                       class="btn {% if request.path == GroupClassesURL %} btn-warning{% else %} btn-outline-warning{% endif %} text-light">کلاس
                        های گروهی</a>
                    <a href="{{ PrivateClassesURL }}"
                       class="btn {% if request.path == PrivateClassesURL %} btn-warning{% else %} btn-outline-warning{% endif %} text-light">کلاس
                        های خصوصی</a>
                    <h5 class="text-light mt-3">فیلتر بر اساس دسته بندی: </h5>
                    <a href="{{ ClassesURL }}"
                       class="btn btn-info text-light">همه</a>
                    {% for category in class_categories %}
                        <a href="{% url 'Classes:classes_category_filter' category.slug %}"
                           class="btn btn-outline-info text-light">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--Banner End-->

    <!--Classes Start-->
    <section class="main-classes-in">
        <div class="container">
            <div class="row" id="counter">
                {% if class_categories.count %}
                    {% for category in class_categories %}
                        <div class="col-lg-4 col-md-6">
                            <div class="class-box wow fadeInUp" data-wow-delay=".5s">
                                <div class="class-img" style="min-height: 220px; max-height: 220px">
                                    {% if category.has_image %}
                                        <img src="{{ category.image.url }}" alt="Class">
                                    {% else %}
                                        <img src="{% static 'images/myostatin-logo.png' %}" alt="Class">
                                    {% endif %}
                                </div>
                                <div class="class-box-contant" style="min-height: 250px; max-height: 250px">
                                    <div class="class-box-title">
                                        <div class="class-box-icon">
                                            <img src="{% static 'images/class-icon1.png' %}" alt="Icon">
                                        </div>
                                        <a href="{{ category.category_classes_url }}">
                                            <h3 class="h3-title">
                                                {{ category.name }}
                                            </h3>
                                        </a>
                                    </div>

                                    <a href="{{ category.category_classes_url }}" class="w-100 btn btn-outline-dark">
                                        مشاهده کلاس ها
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1 class="text-danger">دسته بندی جهت نمایش یافت نشد!</h1>
                    <a href="{{ ClassesURL }}" class="btn btn-danger my-2">بازگشت</a>
                {% endif %}
            </div>
        </div>
    </section>
    <!--Classes End-->
{% endblock %}