{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ class.get_class_type_name }} {{ class.title }}
{% endblock %}
{% block content %}
    {% url "Classes:group_class_view" class.slug as GroupClassDetailView %}
    <!--Banner Start-->
    <section class="main-inner-banner jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
             style="background-image: url('{% static 'images/classes-in-banner.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-in-title">
                        <h1 class="h1-title">{{ class.title }}</h1>
                    </div>
                    <div class="banner-breadcum">
                        <ul>
                            <li><a href="{% url 'Home:home_view' %}">صفحه اصلی</a></li>
                            <li><i class="fa fa-chevron-left"></i></li>
                            <li><a href="{% url 'Classes:classes_index' %}">کلاس ها</a></li>
                            <li><i class="fa fa-chevron-left"></i></li>
                            <li><a href="{{ class.get_class_type_url }}">{{ class.get_class_type_name }}</a></li>
                            <li><i class="fa fa-chevron-left"></i></li>
                            <li><a href="{{ class.get_class_url }}">{{ class.title }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Banner End-->

    <!--Class Detail Start-->
    <section class="main-class-detail">
        <div class="container">
            <div class="row">

                <!--Sidebar Start-->
                <div class="col-lg-4">
                    <div class="class-detail-category wow fadeInRight" data-wow-delay=".5s">
                        <ul>
                            {% for category in class_categories %}
                                <li>
                                    <a href="{% url 'Classes:classes_category_filter' category.slug %}"
                                       {% if category.id == class.category.id %}class="active"{% endif %}>
                                        <span>{{ category.name }}</span>
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="join-class wow fadeInRight" data-wow-delay=".7s" id="counter">
                        <h3 class="h3-title">اطلاعات دوره:</h3>
                        <div class="line"></div>
                        <ul>
                            {% if class.place_count %}
                                <li>
                                    <div class="join-class-icon"><img src="{% static 'images/total-clients.png' %}"
                                                                      alt="Icon"></div>
                                    <div class="join-class-text">
                                        <span>ظرفیت کلاس:</span><span>{{ class.place_count }}</span></div>
                                </li>
                            {% endif %}
                            {% if class.athlete_count %}
                                <li>
                                    <div class="join-class-icon"><img src="{% static 'images/join-class2.png' %}"
                                                                      alt="Icon"></div>
                                    <div class="join-class-text">
                                        <span>تعداد ثبت نام:</span><span>{{ class.athlete_count }}</span></div>
                                </li>
                            {% endif %}
                            <li>
                                <div class="join-class-icon"><img src="{% static 'images/join-class1.png' %}"
                                                                  alt="Icon"></div>
                                <div class="join-class-text"><span>آموزش:</span><span>مربی شخصی</span></div>
                            </li>
                            <li>
                                <div class="join-class-icon"><img src="{% static 'images/join-class3.png' %}"
                                                                  alt="Icon"></div>
                                <div class="join-class-text"><span>مدت:</span><span>6-8 هفته</span></div>
                            </li>
                            {% if class.start_time %}
                                <li>
                                    <div class="join-class-icon"><img src="{% static 'images/clock-1.png' %}"
                                                                      alt="Icon"></div>
                                    <div class="join-class-text">
                                        <span>تاریخ شروع:</span><span dir="ltr">{{ class.get_start_time }}</span>
                                    </div>
                                </li>
                            {% endif %}
                            {% if class.sessions_count %}
                                <li>
                                    <div class="join-class-icon">
                                        <i class="text-light fs-5 fa fa-sort-amount-asc"></i>
                                    </div>
                                    <div class="join-class-text">
                                        <span>تعداد کل جلسات:</span><span dir="ltr">{{ class.sessions_count }}</span>
                                    </div>
                                </li>
                            {% endif %}
                            {% if class.sessions_count_in_week %}
                                <li>
                                    <div class="join-class-icon">
                                        <i class="text-light fs-5 fa fa-sort-numeric-asc"></i>
                                    </div>
                                    <div class="join-class-text">
                                        <span>تعداد جلسات در هفته:</span><span
                                            dir="ltr">{{ class.sessions_count_in_week }}</span>
                                    </div>
                                </li>
                            {% endif %}
                            {% if class.sessions_duration %}
                                <li>
                                    <div class="join-class-icon"><i class="text-light fs-5 fa fa-info"></i></div>
                                    <div class="join-class-text">
                                        <span>طول هر جلسه:</span><span>{{ class.sessions_duration }} دقیقه</span>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                        {% if class.has_place %}
                            <div class="class-full" id="progress_bar">
                                <div class="class-full-bar-box">
                                    <h3 class="h3-title">تکمیل</h3>
                                    <div class="class-full-bar-percent">
                                        <h3 class="h3-title counting-data"
                                            data-count="{{ class.get_place_remain_percentage }}">0</h3><span>%</span>
                                    </div>
                                    <div class="skill-bar class-bar"
                                         data-width="{{ class.get_place_remain_percentage }}%">
                                        <div class="skill-bar-inner class-bar-in"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if class.price %}
                            <div class="join-class-price row">
                                <h6 class="col-md-4">هزینه دوره: </h6>
                                <h5 class="col-md-8">{{ class.get_price }} تومان</h5>
                            </div>
                        {% endif %}
                        <a href="{% url 'Classes:join_class_view' class.slug %}" class="my-3 sec-btn">
                            ثبت نام
                        </a>
                    </div>
                </div>
                <!--Sidebar End-->

                <!--Class Detail Info Start-->
                <div class="col-lg-8">
                    <div class="class-detail-content">
                        <div class="class-box-title">
                            <div class="class-box-icon">
                                <img src="{% static 'images/class-icon1.png' %}" alt="Icon">
                            </div>
                            <h2 class="h2-title">{{ class.title }}</h2>
                        </div>
                        <div class="class-trainer-review">
                            <div class="class-trainer">
                                <div class="class-trainer-img">
                                    <img src="{{ class.coach.picture.url }}" style="max-width: 90px"
                                         class="rounded-circle" alt="trainer-picture">
                                </div>
                                <div class="class-trainer-text">
                                    <a href="{{ class.coach.coach_detail_view_path }}">{{ class.coach.name }}</a>
                                    <span>مربی</span>
                                </div>
                            </div>
                        </div>
                        <div class="class-detail-img wow fadeInUp" data-wow-delay=".5s">
                            <img src="{{ class.image.url }}" alt="Class-Detail-image">
                        </div>
                        <p class="text-justify">
                            {{ class.description }}
                        </p>
                        <div class="class-detail-point">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="points">
                                        <ul>
                                            {% for benefit in class.benefits.all %}
                                                {% if forloop.counter0|divisibleby:2 %}
                                                    <li>
                                                        <div class="point-object"></div>
                                                        <p>{{ benefit.title }}</p>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="points">
                                        <ul>
                                            {% for benefit in class.benefits.all %}
                                                {% if forloop.counter0|divisibleby:2 %}
                                                {% else %}
                                                    <li>
                                                        <div class="point-object"></div>
                                                        <p>{{ benefit.title }}</p>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="class-detail-trainer-box wow fadeInUp" data-wow-delay=".5s">
                            <div class="class-trainer-box-img">
                                <img src="{{ class.coach.picture.url }}" style="max-width: 150px"
                                     class="rounded-circle"
                                     alt="Trainer">
                            </div>
                            <div class="class-trainer-box-text">
                                <span>مربی دوره: </span>
                                <a href="{{ class.coach.coach_detail_view_path }}">
                                    <h3 class="h3-title">{{ class.coach.name }}</h3>
                                </a>
                                <p>{{ coach.about|truncatewords:30 }}</p>
                            </div>
                        </div>
                        {% if class.class_has_time %}
                            <div class="class-detail-time wow fadeInUp" data-wow-delay=".5s">
                                <h3 class="h3-title">زمان کلاس ها</h3>
                                <div class="line"></div>
                                <div class="class-detail-time-main-box">
                                    <div class="row">
                                        {% for time in class.times.all %}
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <div class="class-detail-time-box">
                                                    <span>{{ time.get_day }}</span>
                                                    <span dir="ltr">{{ time.time }}</span>
                                                    <span>{{ class.coach.name }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!--Class Detail Info End-->
            </div>
        </div>
    </section>
    <!--Class Detail End-->
{% endblock %}