{% extends 'base.html' %}
{% load static %}
{% block title %}
    بخش مربیان
{% endblock %}
{% block css %}
    <link href="{% static 'css/Accounts/profile.css' %}" rel="stylesheet"/>
    <style>
        .main-container {
            padding-top: 140px !important;
        }

        .profile-box-container {
            background-color: #fff;
            border-radius: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    {% url 'Accounts:coach-profile' as CoachProfileIndex %}
    {% url 'Accounts:coach-profile-times' as PresentTimes %}
    {% url 'Accounts:coach-profile-times-change-coach' time.id as ChangeTimeCoach %}
    {% url 'Accounts:coach-profile-times-change-place-count' as ChangeTimePlaceCount %}
    {% url 'Accounts:coach-profile-times-athletes' time.id as TimeAthlets %}
    {% url 'Accounts:coach-profile-times-athletes-presentation' time.id as TimeAthletsPresentation %}
    {% url 'Accounts:coach-athlete-profile' athlete.id as TimeAthletProfile %}
    <div class="container bg-dark text-light main-container">
        <div class="row p-3 rounded">
            {% include 'Accounts/components/coach-profile-sidebar.html' %}
            <div class="col-12 col-md-12">
                {% if request.path == CoachProfileIndex %}
                    {% include 'Accounts/components/profile_box_component.html' %}
                {% endif %}
                {% if request.path == PresentTimes %}
                    {% include 'Accounts/components/coach-times.html' %}
                {% endif %}
                {% if request.path == ChangeTimeCoach %}
                    {% include "Accounts/components/select_coach.html" %}
                {% endif %}
                {% if request.path == ChangeTimePlaceCount %}
                    {% include 'Accounts/components/select_place_count.html' %}
                {% endif %}
                {% if request.path == TimeAthlets %}
                    {% include 'Accounts/components/coach_times_athletes.html' %}
                {% endif %}
                {% if request.path == TimeAthletsPresentation %}
                    {% include 'Accounts/components/coach_times_athletes-presentation.html' %}
                {% endif %}
                {% if request.path == TimeAthletProfile %}
                    {% include 'Accounts/components/coach_athlete_profile.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}