{% extends 'base.html' %}
{% load static %}
{% block title %}پروفایل کاربری{% endblock %}
{% block css %}
    <link href="{% static 'css/jalalidatepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/Accounts/profile.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    {% include 'Accounts/components/profile_box_component.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/jalalidatepicker.min.js' %}"></script>
    <script src="{% static 'js/Accounts/profile.js' %}"></script>
{% endblock %}