{% extends 'base.html' %}
{% load static %}
{% block title %}تغییر زمان بندی{% endblock %}
{% block content %}
    <div style="padding-top: 120px !important;" class="bg-dark w-100"></div>
    <div class="container bg-light rounded p-2 text-dark my-3">
        <div class="row my-4 mt-2">
            <a href="{% url 'Accounts:coach-class-list' %}" class="btn btn-primary text-decoration-underline">بازگشت</a>
            <h1 class="text-success">افزودن زمان بندی برای کلاس {{ class.title }}:</h1>
        </div>
        <form action="{% url 'Accounts:coach-class-edit-times' class.slug %}" method="post">
            {% csrf_token %}
            <div class="row my-1 align-items-center">
                <div class="col-4 col-md-2">
                    <label for="week_days">روز: </label>
                </div>
                <div class="col-8 col-md-6">
                    <select class="form-select" id="week_days" name="week_day">
                        {% for day in week_days %}
                            <option value="{{ day.id }}">{{ day.day }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row my-1 align-items-center">
                <div class="col-4 col-md-2">
                    <label for="time">زمان: </label>
                    <br>
                </div>
                <div class="col-8 col-md-6">
                    <input class="form-control" id="time" name="time" required>
                </div>
                <span class="text-danger">زمان را به صورت روبه رو وارد کنید: 14:30 - 15:30</span>
            </div>
            <div class="row mt-3 align-items-center justify-content-center">
                <button type="submit" class="btn btn-outline-success col-5 col-md-3">
                    افزودن
                </button>
            </div>
        </form>
    </div>
{% endblock %}
