{% url 'Accounts:coach-profile-times' as PresentTimes %}
{% url 'Accounts:coach-class-list' as CoachClassList %}
<div class="col-12">
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <a href="{{ PresentTimes }}"
           class="btn btn{% if request.path != PresentTimes %}-outline{% endif %}-danger m-2">تایم های
            حضوری</a>
        <a href="{{ CoachClassList }}"
           class="btn btn{% if request.path != CoachClassList %}-outline{% endif %}-danger m-2">لیست کلاس ها</a>
    </div>
</div>