{% load static %}
<div class="bg-dark" style="padding-top: 140px !important;"></div>
<div class="container profile-box-container">
    <div class="row mt-4 justify-content-around">
        <h3 class="text-dark">
            منوی کاربر:
        </h3>
        {% include 'Accounts/components/user_profile_menu.html' %}
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        {% if request.user.has_profile_image %}
                            <img src="{{ request.user.profile_image.url }}"
                                 class="img-fluid rounded-circle profile-picture"
                                 alt="{{ request.user.get_full_name }}">
                        {% else %}
                            <img src="{% static 'images/myostatin-logo1.png' %}"
                                 class="img-fluid rounded-circle profile-picture"
                                 alt="{{ request.user.get_full_name }}">
                        {% endif %}
                    </div>
                    <form action="{% url 'Accounts:change_user_profile' %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" id="change-image-input" hidden name="profile_image">
                        <button class="btn btn-outline-warning d-none" type="submit"
                                id="submit-change-image-button">
                            ثبت تغییرات
                        </button>
                        <button class="btn btn-outline-warning" id="change-image-button" type="button">
                            تغییر تصویر
                        </button>
                    </form>
                    <h3 class="card-title text-center mt-3 text-light">{{ request.user.get_full_name }}</h3>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p><span class="info-title">نام: </span> {{ request.user.first_name }}</p>
                            <p><span class="info-title">نام خانوادگی: </span> {{ request.user.last_name }}</p>
                            <p><span class="info-title">تاریخ تولد: </span>
                                {% if request.user.birthday %}
                                    <input data-jdp type="button" class="btn btn-danger"
                                           value="{{ request.user.get_birthday }}" id="change-birthday-button">
                                {% else %}
                                    <input data-jdp type="button" class="btn btn-danger" value="ویرایش"
                                           id="change-birthday-button">
                                {% endif %}
                            </p>
                            <p><span class="info-title">تاریخ عضویت: </span>
                                <span>
                                    {{ request.user.get_join_date }}
                                </span>
                            </p>
                        </div>
                        <div class="col-6">
                            <p><span class="info-title">تلفن همراه: </span> {{ request.user.phone_number }}</p>
                            <!-- TODO: Update Email and Email Validation -->
                            {#                            {% if request.user.email %}#}
                            {#                                <p><span class="info-title">ایمیل: </span> {{ request.user.email }}</p>#}
                            {#                            {% else %}#}
                            {#                                <p><span class="info-title">ایمیل: </span>#}
                            {#                                    <button class="btn btn-danger">ویرایش ایمیل</button>#}
                            {#                                </p>#}
                            {#                            {% endif %}#}
                            <p>
                                <span class="info-title">جنسیت: </span>
                                <span id="user-gender-type">{{ request.user.get_user_gender }}</span>
                                <button class="btn btn-danger" id="change-gender-type-button">ویرایش</button>
                            </p>
                        </div>
                    </div>
                    <div class="row my-2 border-top border-danger pt-3 align-items-center">
                        <div class="col-md-4">
                            تایم کلاس حضوری شما:
                        </div>
                        <div class="col-md-4">
                            {% if request.user.class_time is None %}
                                <span class="text-danger">هنوز انتخاب نشده</span>
                            {% else %}
                                {{ request.user.class_time }}
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {% if request.user.class_time is None %}
                                <a class="btn btn-primary" href="{% url 'Accounts:register_present_class' %}">
                                    شرکت در کلاس
                                </a>
                            {% else %}
                                <a class="btn btn-outline-primary" href="{% url 'Accounts:change_present_class' %}">
                                    درخواست تغییر تایم
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-3">
                        <p class="card-text">از اینکه در راستای سلامتی همراه ما هستید بسیار قدردانیم♥</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
