{% load static %}
<footer class="main-footer">
    <div class="footer-overlay-bg animate-this">
        <img src="{% static 'images/footer-overlay.png' %}" alt="Overlay">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-box-one">
                    <a href="{% url 'Home:home_view' %}">
                        <img src="{% static 'images/myostatin-logo1.png' %}" style="max-width: 100px"
                             alt="Myostatin-logo">
                    </a>
                    <p>باکس کراسفیت مایوستاتین با به روز ترین امکانات و بهترین مربیان برای شماست</p>
                    <div class="footer-time">
                        <img src="{% static 'images/clock-1.png' %}" alt="Clock">
                        <div class="footer-time-text-box">
                            <div class="footer-time-text">
                                <span>شنبه - چهارشنبه</span>
                                <span>21:30 - 14:30</span>
                            </div>
                            <div class="footer-time-text mt-3">
                                <span>پنجشنبه</span>
                                <span>18:30 - 14:30</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-box-two">
                    <h3 class="h3-title">پیوندهای ما</h3>
                    <div class="line"></div>
                    <ul>
                        <li><a href="index.html">صفحه اصلی</a></li>
                        <li><a href="about-us.html">درباره ما</a></li>
                        <li><a href="class-detail.html">کلاس ها</a></li>
                        <li><a href="blog-list.html">وبلاگ</a></li>
                        <li><a href="contact-us.html">ارتباط با ما</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-box-three">
                    <h3 class="h3-title">ارتباط با ما</h3>
                    <div class="line"></div>
                    <ul>
                        <li>
                            <div class="footer-contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="footer-contact-text">
                                <span>ایران ، تهران ، خیابان اول ، کوچه دوم ، پلاک سوم</span>
                            </div>
                        </li>
                        <li>
                            <div class="footer-contact-icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="footer-contact-text">
                                <span>123-456-7890</span>
                                <span dir="ltr">+91 555 234-8765</span>
                            </div>
                        </li>
                        <li>
                            <div class="footer-contact-icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="footer-contact-text">
                                <span>info@gmail.com</span>
                                <span>services@gmail.com</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-box-four">
                    <h3 class="h3-title">خبرنامه</h3>
                    <div class="line"></div>
                    <div class="footer-subscribe-form">
                        <input type="email" name="email" class="form-input subscribe-input" placeholder="آدرس ایمیل"
                               required="">
                        <button type="submit" class="sec-btn"><i class="fa fa-chevron-left"></i></button>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li><a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <div class="copyright-text">
                        <span>طراحی و اجرا: <a href="https://amirmahdikahdouii.github.io/Portfolio" class="text-light">امیر مهدی کهدویی</a> </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="copyright-links">
                        <ul>
                            <li><a href="about-us.html">سیاست حفظ حریم خصوصی</a></li>
                            <li><a href="about-us.html">تیم و شرایط</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
