{% extends 'base.html' %}
{% block title %}
    تیکت ها
{% endblock %}
{% block content %}
    <div class="bg-dark" style="padding-top: 140px !important;"></div>
    <div class="container">
        <div class="row justify-content-center my-3">
            <a class="col-5 col-md-3 btn btn-success" href="{% url 'Tickets:create_user_question' %}">افزودن سوال</a>
        </div>
        <div class="row justify-content-between">
            {% for question in questions %}
                <div class="col-12 col-md-5 my-2 rounded bg-dark text-light p-2">
                    <p class="d-flex justify-content-around align-items-center text-light">
                    <span>
                        وضعیت پاسخ دهی:
                        {% if question.is_checked %}
                            <i class="bi bi-check bg-success"></i>
                        {% else %}
                            <i class="bi bi-x-lg text-danger"></i>
                        {% endif %}
                    </span>
                        <span>
                        تاریخ:
                        {{ question.get_date }}
                    </span>
                    </p>
                    <span>عنوان: </span>
                    <h3>{{ question.title }}</h3>
                    <span>متن پیام: </span>
                    <p class="text-light">{{ question.message }}</p>
                    <hr>
                    <a href="" class="btn btn-light my-2">مشاهده</a>
                </div>
            {% endfor %}
        </div>
        {% include 'components/pagination_box.html' %}
    </div>
{% endblock %}