{% extends 'base.html' %}
{% load static %}
{% block title %}
    ثبت فیش واریزی
{% endblock %}
{% block css %}
    <link href="{% static 'css/jalalidatepicker.min.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="bg-dark" style="padding-top: 140px !important;"></div>
    <div class="container my-2 p-2 rounded bg-primary text-light">
        <div class="row my-2">
            <h1 class="text-center">
                ثبت فیش واریز:
            </h1>
        </div>
        <form action="{% url 'Transactions:offline_payment' transaction_id %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <div class="row my-2">
                    <ul class="list-group">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li class="list-group-item">{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="row my-2">
                <div class="col-6 col-md-4">
                    <label for="{{ form.picture.id_for_label }}">عکس فیش: </label>
                </div>
                <div class="col-12 col-md-8">
                    {{ form.picture }}
                </div>
            </div>
            <div class="row my-2">
                <div class="col-6 col-md-4">
                    <label for="payment_date">تاریخ واریز: </label>
                </div>
                <div class="col-12 col-md-8">
                    <input id="payment_date" name='payment_date' data-jdp class="btn btn-light"
                           value="انتخاب کنید" required>
                </div>
            </div>
            <div class="row my-2 justify-content-center">
                <button class="btn btn-success col-4 col-md-2">ثبت</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/jalalidatepicker.min.js' %}"></script>
    <script>
        jalaliDatepicker.startWatch();
    </script>
{% endblock %}